<html>
    <head>
        <title>Choose your background</title>
    </head>
    <body>

        <form action = '/stats' method='post'>
            <input id="race_id" name="race_id" type="hidden" value="race_id">
            <input id="class_id" name="class_id" type="hidden" value="class_id">


            {% for background in backgrounds %}

            <label for = '{{ background.getId }}'>
                <div class='background_select'>
                    <input type='radio' name = 'background_id' value = '{{ background.getId }}'>
                        <h3>{{ background.getName }}</h3>
                        <p>{{ background.getDescription }}</p>

                </div>
            </label>
            <hr>

            {% endfor %}


            <button type='submit'>Roll your stats -></button>


            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 50%'></span>
            </div>

        </form>
    </body>
</html>
