<html>
    <head>
        <title>Choose your background</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>
        <div class='container'>
            <form action = '/stats' method='post'>


                {% for background in backgrounds %}

                <label for = '{{ background.getId }}'>
                    <div class='background_select'>
                        <input type='radio' name = 'background_id' value = '{{ background.getId }}'>
                            <h3>{{ background.getName }}</h3>
                            <p>{{ background.getDescription }}</p>

                    </div>
                </label>
                <hr>

                {% endfor %}


                <button type='submit'>Roll your stats -></button>

            </form>
            

            <form action='/class' method='get'>
                <button type="submit">Return to Class Select</button>
            </form>
        </div>
    </body>
</html>
