<html>
    <head>
        <title>Choose your background</title>
    </head>
    <body>

        <form action = '/background' method='post'>

            <label for = ''>
                <div class='background_select'>
                    <input type='checkbox' name = 'background' value = 'noble'>
                        <h3>Noble</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='background_select'>
                    <input type='checkbox' name = 'background' value = 'hermit'>
                        <h3>Hermit</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='background_select'>
                    <input type='checkbox' name = 'background' value = 'urchin'>
                        <h3>Urchin</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='background_select'>
                    <input type='checkbox' name = 'background' value = 'soldier'>
                        <h3>Soldier</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>


            <button type='submit'>Choose your class -></button>

            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 50%'></span>
            </div>

        </form>
    </body>
</html>
