<html>
    <head>
        <title>Choose your race</title>
        <link href='https://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>
    <div class='container'>
        <form action = '/summary' method='post'>

            <div class='container-fluid'>
                <div class='col-md-6'>
                    <label for ='name'>Name:</label>
                    <input type='text' id = 'name' name = 'name' required autofocus>
                    <br>
                    <br>


                    <label for ='name'>Age:</label>
                    <input type='int' id = 'age' name = 'age' required>
                    <br>
                    <br>


                    <label for ='name'>Gender:</label>
                    <input type='text' id = 'gender' name = 'gender' required>
                    <br>
                    <br>


                    <label for ='name'>Height:</label>
                    <input type='text' id = 'height' name = 'height' required>
                    <br>
                    <br>

                    <label for ='name'>Weight:</label>
                    <input type='text' id = 'weight' name = 'weight' required>
                    <br>
                    <br>


                    <label for ='name'>Eye Color:</label>
                    <input type='text' id = 'eye_color' name = 'eye_color' required>
                    <br>
                    <br>


                    <label for ='name'>Hair Color:</label>
                    <input type='text' id = 'hair_color' name = 'hair_color' required>
                    <br>
                    <br>


                    <label for ='name'>Skin Tone:</label>
                    <input type='text' id = 'skin_tone' name = 'skin_tone' required>
                    <br>
                    <br>
                </div>
            </div>

            <div class="container-fluid">
                <div class='row' id='grid'>
                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'lawful_good'>
                                <h3>Lawful Good</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'neutral_good'>
                                <h3>Neutral Good</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'chaotic_good'>
                                <h3>Chaotic Good</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'lawful_neutral'>
                                <h3>Lawful Neutral</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'true_neutral'>
                                <h3>True Neutral</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'chaotic_neutral'>
                                <h3>Chaotic Neutral</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'lawful_evil'>
                                <h3>Lawful Evil</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'neutral_evil'>
                                <h3>Neutral Evil</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label for = ''>
                            <input type='radio' name = 'alignment' value = 'chaotic_evil'>
                                <h3>Chaotic Evil</h3>
                                <p>***Flavor text***</p>
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <br>


            <label for ='name'>Other information:</label>
            <input type='text' id = 'other_information' name = 'other_information'>


            <button type='submit'>Review Your Character -></button>


            <form action='/loadout' method='get'>
                <button type="submit">Return to Skill Loadout</button>
            </form>

            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 84%'></span>
            </div>

        </form>
    </div>
    </body>
</html>
