<html>
    <head>
        <title>Choose your race</title>
    </head>
    <body>

        <form action = '/bio' method='post'>

            <label for ='name'>Name:</label>
            <input type='text' id = 'name' name = 'name' required autofocus>


            <label for ='name'>Age:</label>
            <input type='int' id = 'age' name = 'age' required>


            <label for ='name'>Gender:</label>
            <input type='text' id = 'gender' name = 'gender' required>


            <label for ='name'>Height:</label>
            <input type='text' id = 'height' name = 'height' required>

            <label for ='name'>Weight:</label>
            <input type='text' id = 'height' name = 'height' required>


            <label for ='name'>Eye Color:</label>
            <input type='text' id = 'eye_color' name = 'eye_color' required>


            <label for ='name'>Hair Color:</label>
            <input type='text' id = 'hair_color' name = 'hair_color' required>


            <label for ='name'>Skin Tone:</label>
            <input type='text' id = 'skin_tone' name = 'skin_tone' required>


            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'lawful_good'>
                        <h3>Lawful Good</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'neutral_good'>
                        <h3>Neutral Good</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'chaotic_good'>
                        <h3>Chaotic Good</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'lawful_neutral'>
                        <h3>Lawful Neutral</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'true_neutral'>
                        <h3>True Neutral</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'chaotic_neutral'>
                        <h3>Chaotic Neutral</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'lawful_evil'>
                        <h3>Lawful Evil</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'neutral_evil'>
                        <h3>Neutral Evil</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <label for = ''>
                <div class='alignment_select'>
                    <input type='radio' name = 'alignment' value = 'chaotic_evil'>
                        <h3>Chaotic Evil</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>


            <label for ='name'>Motivations:</label>
            <input type='text' id = 'motivations' name = 'motivations' required>


            <label for ='name'>Flaws:</label>
            <input type='text' id = 'flaws' name = 'flaws' required>


            <label for ='name'>Other information:</label>
            <input type='text' id = 'other_information' name = 'other_information'>


            <button type='submit'>Choose your class -></button>


            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 84%'></span>
            </div>

        </form>
    </body>
</html>
