<html>
    <head>
        <title>Choose your class</title>
    </head>
    <body>

        <form action = '/class' method='post'>

            <label for = ''>
                <div class='class_select'>
                    <input type='checkbox' name = 'class' value = 'fighter'>
                        <h3>Fighter</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='class_select'>
                    <input type='checkbox' name = 'class' value = 'rouge'>
                        <h3>Rouge</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='class_select'>
                    <input type='checkbox' name = 'class' value = 'cleric'>
                        <h3>Cleric</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='class_select'>
                    <input type='checkbox' name = 'class' value = 'wizard'>
                        <h3>Wizard</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>


            <button type='submit'>Get your stats -></button>

            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 17%'></span>
            </div>

        </form>
    </body>
</html>
