<html>
    <head>
        <title>Your adventure starts here!</title>
    </head>


    <body>


        <h1>Your next adventure starts here!</h1>

        <a href="/race">Create your charactor -></a>


    </body>
</html>
