<aside class="site__progress">

    <!-- progress

        http://blog.sathomas.me/post/tracking-progress-in-pure-css




    <ol class="progress__bar" data-progtrckr-steps="7">

        <li class="progtrckr-done">Start</li>
        <li class="progtrckr-done">Race</li>
        <li class="progtrckr-done">Class</li>
        <li class="progtrckr-done">Background</li>
        <li class="progtrckr-todo">Stat Roll</li>
        <li class="progtrckr-todo">Skills Choice</li>
        <li class="progtrckr-todo">Bio</li>

    </ol>

    -->

</aside>
