<html>
    <head>
        <title>Choose your race</title>
    </head>
    <body>

        <form action = '/race' method='post'>

            <label for = ''>
                <div class='race_select'>
                    <input type='radio' name = 'race' value = 'human'>
                        <h3>Human</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='race_select'>
                    <input type='radio' name = 'race' value = 'elf'>
                        <h3>Elf</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='race_select'>
                    <input type='radio' name = 'race' value = 'dwarf'>
                        <h3>Dwarf</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>

            <label for = ''>
                <div class='race_select'>
                    <input type='radio' name = 'race' value = 'halfling'>
                        <h3>Halfling</h3>
                        <p>***Flavor text***</p>
                </div>
            </label>
            <hr>


            <button type='submit'>Choose your class -></button>


            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 0%'></span>
            </div>

        </form>
    </body>
</html>
