<html>
    <head>
        <title>Choose your race</title>
    </head>
    <body>

        <form action = '/class' method='post'>

            {% for race in races %}

                <label for = '{{ race.getId }}'>
                    <div class='race_select'>
                        <input type='radio' name = 'race_id' value = '{{ race.getId }}' required>
                            <h3>{{ race.getName }}</h3>
                            <p>{{ race.getDescription }}</p>
                    </div>
                </label>
                <hr>

            {% endfor %}


            <button type='submit'>Choose your class -></button>


            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 0%'></span>
            </div>

        </form>
    </body>
</html>
