<html>
    <head>
        <title>Choose your skills</title>
    </head>
    <body>

        acrobatics
        animal handling
        arcana
        athletics
        deception
        history
        insight
        intimidation
        investigation
        medicine
        nature
        perception
        perfomance
        persuasion
        relighion
        slight of hand
        stealth
        survival


        <!-- https://css-tricks.com/css3-progress-bars/ -->
        <div class="progress">
            <span style='width: 67%'></span>
        </div>

    </body>
</html>
