<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Choose your race</title>
                <link href='https://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        </head>
        <body>
<div class="container">
    <div class="row">
        <div class="col-md-3">Name
            <textarea class="form-control" style=""></textarea>
        </div>
        <div class="col-md-3">Class
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-3">Race
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-3">Background
            <textarea class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">Str
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Dex
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Con
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Int
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Wis
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Cha
            <textarea class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-3">Experience Points
        <textarea class="form-control"></textarea>
    </div>
    <div class="col-md-2">Alignment
        <textarea class="form-control"></textarea>
    </div>
    <div class="col-md-2">Max HP
        <textarea class="form-control"></textarea>
    </div>
    <div class="col-md-2">Speed
        <textarea class="form-control"></textarea>
    </div>
    <div class="col-md-3">Death Saves
        <textarea class="form-control"></textarea>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">Proficiency
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Armor Class
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Initiative
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Passive Perception
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Inspiration
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-2">Gold
            <textarea class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">Personality Traits
            <textarea rows="10" class="form-control"></textarea>
        </div>
        <div class="col-md-3">Flaws
            <textarea rows="10" class="form-control"></textarea>
        </div>
        <div class="col-md-3">Proficiencies
            <textarea rows="10" class="form-control"></textarea>
        </div>
        <div class="col-md-3">Backstory
            <textarea rows="10" class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">Age
            <textarea class="form-control" style=""></textarea>
        </div>
        <div class="col-md-3">Height
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-3">Eye Color
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-3">Hair Color
            <textarea class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">Attacks
            <textarea rows="10" class="form-control"></textarea>
        </div>
        <div class="col-md-4">Features
            <textarea rows="10" class="form-control"></textarea>
        </div>
        <div class="col-md-4">Spells
            <textarea rows="10" class="form-control"></textarea>
        </div>
    </div>
</div>

    </body>
</html>
