*, *:before, *:after {
	box-sizing: border-box;
    margin: 0;
}

html {
	height: 100%;

}

/*@font-face {
font-family: lobster;
src: url(sansation_light.woff);
}*/

div {
	font-family: 'Overlock SC', cursive;
}

.padding{
	padding-bottom:5em;
}

input[type=radio], input[type=checkbox] {
	display: none;
}
form input[type="radio"]:checked + label {
	background-color: #6d2908;
	color: white;
}
label {
	display: block;
	appearance: button;
	background: #c0c0c0;
	color: #111111;
	text-align: center;
	border: 3px solid #6d2908;
	padding: 5px;
}

body {
	background:  #f1e0c5;
	color: #000;
	/*font-family: Tahoma, Verdana, sans-serif;*/
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: 'Overlock SC', cursive;

}

/* color key ================ */

/*
   #442d65 -> deep purple
   #775ba3 -> light purple
   #91c5a9 -> medium green
   #f8e1b4 -> warm yellow
   #f98a5f -> medium red
   ***maui barf

   #bb0f00 -> deep red
   #6e0000 -> brown
   #6d2908 -> slightly warmer brown
   #1ba3e1 -> blue
   #02d0ac -> medium green

   #f5f2f0 -> light gray

*/

/* layout =================== */

.site__title, nav, section, .footer__content, aside {
	display: block;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;

}

.site__logo {
	border-radius: 50%;
	border: 1px solid #9faab1;
	display: block;
	margin: 0;
	width: 100px;
	position: absolute;
	top: 40px;
	right: 22%;

}


header {
    background: #6d2908;
	border-bottom: 2px solid #bb0f00;
	padding: 100px 0 50px 0;
	margin-bottom: 40px;
	font-family: 'Overlock SC', cursive;
}

.main__description {
    margin: 2rem 0 3rem 0rem;
	color: #6d2908;
	font-family: 'Overlock SC', cursive;
}

.main__callToAction {
    padding: 20px;
    border-radius: 1px;
    background: #bb0f00;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    font-weight: 500;
    text-decoration: none;
    color: #f98a5f;
    float: right;

}

.main__callToAction a {
    display: block;

}

.main__callToAction::after {
    font-weight: 700;
    content: " > ";
}

.main__callToAction:hover {
    box-shadow: none;
}

.wrapper {
	min-height: 100%;
  	margin-bottom: -200px;
}

.wrapper:after {
  content: "";
  display: block;
}

.site__footer, .wrapper:after {
  height: 200px;
}

.site__footer {
	background: #f8e1b4;
	border-top: 1px solid  #6d2908;
}

.footer__content {
	padding: 20px;
	color: #6d2908;
}

/* typography =============== */

.site__title {
	color: #f5f2f0;
	font-size: 3rem;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-weight: 200;
    letter-spacing: .5rem;
	max-width: 640px;
	font-family: 'Overlock SC', cursive;
}

.site__title--kern {
    letter-spacing: 0.2rem;
}

.main__title {
	color: #6e0000;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-weight: 200;
    font-size: 2.8rem;
	font-family: 'Overlock SC', cursive;
}

.main__article {
	font-size: 1rem;
  	line-height: 24px;
	font-family: 'Overlock SC', cursive;
}



.race__item span, p{
	font-family: 'Overlock SC', cursive;
}

/* content =================== */

/* ================== progress  */

.site__progress {
    padding: 5rem .2rem 2rem .2rem;

}

ol.progress__bar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progress__bar li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progress__bar[data-progtrckr-steps="2"] li { width: 49%; }
ol.progress__bar[data-progtrckr-steps="3"] li { width: 33%; }
ol.progress__bar[data-progtrckr-steps="4"] li { width: 24%; }
ol.progress__bar[data-progtrckr-steps="5"] li { width: 19%; }
ol.progress__bar[data-progtrckr-steps="6"] li { width: 16%; }
ol.progress__bar[data-progtrckr-steps="7"] li { width: 14%; }
ol.progress__bar[data-progtrckr-steps="8"] li { width: 12%; }
ol.progress__bar[data-progtrckr-steps="9"] li { width: 11%; }


/*



/* ================== picture gallery */

.gallery {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.gallery__picture {
	list-style: none;
}

.gallery__picture img{
	width: 45%;
	margin: 0 5% 1em 0;
	float: left;
}



/* ================== race page */

.races {
	padding: 0;
	margin: 0;
	font-family: 'Overlock SC', cursive;
}

.race__item {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid  #ea4909;

}

.race__item:hover {

}

img {
    vertical-align:top;
}


.race__item:last-child {
	border-bottom: none;
	margin-bottom: 1rem;
}

.race__pic {
	padding: 5px;
	margin: 0 10px 10px 0;
	float: left;
	border-radius: 5px;
}

.race__name {
	display: block;
	font-weight: 700;
	font-size: 1.3rem;
	margin-bottom: .5rem;

}

.race__description {
	margin-top: 0;
}

.race__attributes {
    display: inline-block;
    padding-left: 1rem;
}

.race__attributes li {
    margin-top: .5rem;
}

/*.choice_radio {
	display: block;
	width:200px;
	height:200px;
	background-color: red;
	cursor: pointer;
}*/

/* clear fix ================ */

.group:after {
    content: "";
    display: table;
    clear: both;
}
