@media screen, print{*, *:before, *:after {
	box-sizing: border-box;
    margin: 0;
}



body {
	background: none;
	color: black;
    font-family: Georgia,Times,Times New Roman,serif;
	font-size: 10pt;
    margin: 0 auto;
    padding: 10px 0 0 0;
	width: 100%;
	height: 900px;
}


.page {
    font-size: 12pt;
    height: 900px;
    page-break-after: always;
    page-break-inside: avoid;
}



h1,h2,h4,h5,h6 {

    margin-bottom: .5em;
}

h3 {
    line-height: 1.6;
    display: inline;
}

div {
    padding: 1em;
    border: 1px solid #000;
    margin-bottom: 1em;
	margin: 0 0 1em 1em;
	display: inline-block;
}

span {
    display:block;
}

h3 span {
    border-bottom: 1px dotted #000;
    display: inline-block;
    width: 4em;
}

/* hit points */

.hp__max span {
    border: none;
    border-bottom: 1px dotted #000;
    width: 4em;
}

.hp-max {
}

.box {
    width: 20em;
    height: 6em;
    border: 1px solid #000;
}

.big-box {
    width: 20em;
    height: 8em;
    border: 1px solid #000;
}

.bigger-box {
    width: 20em;
    height: 20em;
    border: 1px solid #000;
}

/* death saves */

.saves span {
    border: 1px solid #000;
    border-radius: 3em;
    height: 1em;
    width: 1em;
    margin-right: .2em;

}

.pull-left {
    float: left;
    margin: 0 0 1em 1em;
}
}
